/* Sidevav */
.sidenav {
  grid-row: span 2;
  order: 1;
  padding-block: var(--space-lg);
  /* height: auto; */
  border-right: 1px solid var(--clr-neutral-150);
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  overflow: visible;
}
.sidenav.open{
  animation: movement .3s;
}
.sidenav-bottom {
  margin-top: auto;
  height: auto;
}

.sidenav ul>li>a {
  padding: var(--space-xs) 0;
  width: 100%;
  position: relative;
  transition: transform,max-width .3s ease-in-out;
}

.sidenav a.active-link::before {
  content: '';
  position: absolute;
  width: 5px;
  border-radius: 8px 0 0 8px;
  height: 30px;
  right: 0;
  top: 8px;
}

.sidenav-toggle {
  position: fixed;
  margin-top: 4.675rem;
  height: 40px;
  width: 40px;
  z-index: 100;
  background-color: var(--clr-neutral-bg);
  translate: -20% 0;
  box-shadow: 1px 2px 10px var(--clr-neutral-150);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 8px;
  transform-origin: left;
  visibility: hidden;
  /* animation: highlight .5s ease-in alternate infinite; */
}

.sidenav-toggle.paused{
  animation-play-state: paused;
}

@keyframes highlight {
  from{
    transform: scale(1);
  }
  to {
    /* translate: 0% 0; */
    transform: scale(1.5);
    animation-delay: 10s;
  }
}
@keyframes movement {
  from{
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}

.sidenav-toggle svg {
  width: 24px;
}

@media screen and (max-width: 726px) {
  .sidenav {
    max-width: 0;
    /* translate: -100% 0; */
    /* position: relative; */
    visibility: hidden;
  }
  .sidenav.open {
    visibility: visible;
    max-width: max-content;
    /* translate: 0 0; */
  }
  .sidenav-toggle{
    left: 0;
    visibility: visible;
  }

  .sidenav.open + .sidenav-toggle{
    left: 50px;

  }
}