/* Topnav stuff */
.topnav {
  order: 2;
  background-color: var(--clr-neutral-bg);
  padding: var(--space-md);
  border-bottom: 1px solid var(--clr-neutral-150);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  padding-inline: 0;
}

.logo-on-small {
  flex-shrink: 0;
  display: none;
}

.topnav .topnav_left {
  gap: 6px;
}

.topnav .topnav_left p {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
}


.topnav_right>.search_bar>div input {
  height: 48px;
  /* width: 350px; */
  padding-left: 45px;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 20px;
  color: var(--clr-neutral-900);
  font-weight: var(--font-semibold);
}

.search_bar>div {
  position: relative;
}

.search_bar>div>svg {
  position: absolute;
  left: 15px;
  top: 15px;
}

.topnav-right,
.calendar_and_notification {
  gap: var(--space-md)
}

.calendar_and_notification>.topnav_calender {
  gap: var(--space-xs);
  height: 40px;
  padding-block: var(--space-sm);
  padding-inline: var(--space-base);
  background-color: transparent;
  transition: all .3s;
}

.calendar_and_notification>.topnav_notification {
  height: 40px;
  width: 40px;
  border: 1px solid var(--clr-neutral-150);
  border-radius: 100%;
  transition: all .3s;
}

/* .topnav_calender:hover, .topnav_notification:hover{
    background-color: white;
  } */

.topnav_right .profile_menu>.profile_container {
  gap: var(--space-sm);
  padding: var(--space-xxs);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 9999px;
}

.profile_container .name_and_email {
  gap: 4px;
}

.name_and_email p {
  font-size: var(--text-sm);
  color: var(--clr-neutral-500);
}

.topnav svg {
  stroke: var(--clr-neutral-900);
}

@media screen and (max-width: 625px) {
  .logo-on-small {
    display: inline;
  }

  .topnav .topnav_left p {
    font-size: var(--text-md);
  }

  .topnav-right,
  .calendar_and_notification {
    gap: var(--space-xxs)
  }

  .topnav_right .profile_menu>.profile_container {
    padding: 4px;
  }

  .caret-down svg {
    width: 16px;
  }
}