/* Topnav stuff */
.topnav {
  order: 2;
  background-color: var(--clr-neutral-bg);
  padding: var(--space-md);
  border-bottom: 1px solid var(--clr-neutral-150);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  padding-inline: 0;
}

.logo-on-small {
  flex-shrink: 0;
  display: none;
}

.topnav .topnav_left {
  gap: 6px;
}

.topnav .topnav_left p {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
}


.topnav_right>.search_bar>div input {
  height: 48px;
  /* width: 350px; */
  padding-left: 45px;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 20px;
  color: var(--clr-neutral-900);
  font-weight: var(--font-semibold);
}

.search_bar>div {
  position: relative;
}

.search_bar>div>svg {
  position: absolute;
  left: 15px;
  top: 15px;
}

.topnav-right,
.calendar_and_notification {
  gap: var(--space-md)
}

.topnav_calender {
  gap: var(--space-xs);
  height: 40px;
  padding: var(--space-sm);
  background-color: transparent;
  transition: all .3s;
  position: relative;
  background-color: var(--clr-neutral-bg);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 12px;
}

.calendar_and_notification>.topnav_notification {
  height: 40px;
  width: 40px;
  border: 1px solid var(--clr-neutral-150);
  border-radius: 100%;
  transition: all .3s;
}

.topnav_right .profile_menu>.profile_container {
  gap: var(--space-sm);
  padding: var(--space-xxs);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 9999px;
}

.profile_container .name_and_email {
  gap: 4px;
}

.name_and_email p {
  font-size: var(--text-sm);
  color: var(--clr-neutral-500);
}

.topnav svg {
  padding: 0;
  stroke: white;
}

.profile-dropdown, .calendar-dropdown{
  position: relative;
}
.calendarValue{
  color: var(--clr-neutral-900);
}

.profile-container-content, .calendar-container-content{
  display: none;
  position: absolute;
  translate: -0.125rem 0;
  opacity: 0;
  width: 100%;
  max-width: 100%;
  min-width:  350px;
  transition: all .3s;
  right: 0;
}

.profile-container-content.open, .calendar-container-content.open{
  display: block;
  opacity: 1;
  translate: 0;
  background-color: white;
  margin-top: var(--space-xs);
  background-color: var(--clr-neutral-bg);
  border-radius: var(--rounded-lg);
  box-shadow: 1px 0 16px hsla(0, 0%, 64%, .2);
  padding: 8px;
  /* box-sizing: content-box; */
}

.profile-container-content a{
  color: var(--clr-neutral-900);
}
.Sample__container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  /* background-color: red !important; */
}
.Sample__container__content {
  margin: 10px;
  display: flex;
}
.Sample__container > * > *  {
  /* margin: 10px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 15px;
}
.Sample__container > * > * > :first-child{
  /* background-color: gray; */
  width: 100%;
  display: flex;
  gap: 1em;
}
.Sample__container > * > * > :first-child button{
  padding: 10px 15px;
  font-size: var(--text-sm);
  color: var(--clr-neutral-900);
}
.Sample__container > * > * > :last-child{
  /* background-color: gray; */
  width: 100%;
  display: flex; 
}
.Sample__container > * > * > :last-child > * button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  padding: 5px 8px;
  transition: all .2s;
  border-radius: 6px;
  color: var(--clr-neutral-900);
  font-size: var(--text-sm);

  
}
.Sample__container > * > * > :last-child > * .react-calendar__month-view__weekdays__weekday{
  color: var(--clr-neutral-300);
  margin-bottom: 12px;
  font-size: var(--text-sm);

  /* background-color: gray; */
}
.Sample__container > * > * > :last-child > * button:focus{
  background-color: var(--clr-primary);
}
.Sample__container__content .react-calendar {
  margin: 0 auto;
}


@media screen and (max-width: 625px) {
  .logo-on-small {
    display: inline;
  }

  .topnav .topnav_left p {
    font-size: var(--text-md);
  }

  .topnav_calender{
    border-radius: var(--rounded-full);
  }

  .topnav-right,
  .calendar_and_notification {
    gap: var(--space-xxs)
  }

  .topnav svg {
    width: 20px;
    height: 20px;
  }

  .caret-down svg {
    width: 16px;
  }
  .profile-container-content, .calendar-container-content{
    right: -130px;
  }
}