@import url('/src/index.css');

header{
    background-color: var(--clr-neutral-50);
    /* background-color: red; */
    height: 88px;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    border-bottom: 1px solid var(--clr-neutral-150);
}

header .topnav_left p{
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
}
header .topnav_right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.topnav_right > .search_bar > div input{
    height: 48px;
    width: 350px;
    padding: 0 0 0 45px;
    background-color: white;
    border: 1px solid var(--clr-neutral-150);
    border-radius: 20px;
    font-family: var(--ff-base);
    
}
.search_bar > div{
    position: relative;
}
.search_bar > div > img{
    position: absolute;
    left: 15px;
    top: 15px;
}


.topnav_right .calendar_and_notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.calendar_and_notification > .topnav_calender{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    height: 40px;
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}
.calendar_and_notification > .topnav_notification{
    width: 40px;
    height: 40px;
    border: 1px solid var(--clr-neutral-150);
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.topnav_calender:hover, .topnav_notification:hover{
    background-color: white;
}

.topnav_right .profile_menu > .profile_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    padding: 6px 8px;
    border: 1px solid var(--clr-neutral-150);
    border-radius: 28px;
    cursor: pointer;
}
.profile_container .name_and_email{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4px;
}
.name_and_email p{
    font-size: var(--text-sm);
    color: var(--clr-neutral-500);
}