:root {
  /* Color */
  --clr-primary: hsla(165, 59%, 50%, 1);
  --clr-secondary: hsla(251, 76%, 10%, 1);

  --clr-accent-warning: hsl(49, 100%, 48%);
  --clr-accent-error: hsl(2, 82%, 62%);
  --clr-accent-success: hsl(133, 47%, 59%);

  --clr-white: hsla(0, 100%, 100, 1);
  --clr-neutral-bg: hsla(0, 0%, 99%, 1);

  --clr-neutral-50: hsla(0, 0%, 98%, 1);
  --clr-neutral-100: hsla(0, 0%, 96%, 1);
  --clr-neutral-200: hsla(0, 0%, 90%, 1);
  --clr-neutral-300: hsla(0, 0%, 83%, 1);
  --clr-neutral-400: hsla(0, 0%, 64%, 1);
  --clr-neutral-500: hsla(0, 0%, 45%, 1);
  --clr-neutral-600: hsla(0, 0%, 32%, 1);
  --clr-neutral-700: hsla(0, 0%, 25%, 1);
  --clr-neutral-800: hsla(0, 0%, 15%, 1);
  --clr-neutral-900: hsla(0, 0%, 9%, 1);

  /* Typography */
  --ff-base: "Plus Jakarta Sans", system-ui, sans-serif;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;

  --text-xxs: 0.675rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.175rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 3rem; /* 48px */
  --text-4xl: 4rem; /* 64px */

  --leading-norm: 1em /* Size of Text */;
  --leading-wide: 1.5rem /* 24px */;
  --leading-wider: 1.625rem /* 26px */;
  --leading-heading-5: 1.72rem /* 28px */;
  --leading-heading-4: 2rem /* 32px */;
  --leading-heading-3: 2.5rem /* 40px */;
  --leading-heading-2: 3.5rem /* 56px */;
  --leading-heading-1: 4.5rem /* 72px */;

  /* Layout */
  --space-xxs: 0.5rem; /* 8px */
  --space-xs: 0.675rem; /* 10px */
  --space-sm: 0.75rem; /* 12px */
  --space-base: 1rem; /* 16px */
  --space-lg: 1.25rem; /* 20px */
  --space-xl: 2.875rem; /* 30px */
}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  line-height: var(--leading-norm);
  font-size: var(--text-base);
  font-family: var(--ff-base) !important;
  font-weight: var(--font-norm);
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  color: #0D062D;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--clr-neutral-bg);
}

button,
input,
textarea {
  outline: none;
  border: none;
  background-color: inherit;
  font: inherit;
  border-radius: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  shape-margin: 0.75rem;
  font-style: italics;
}

ul,
ol {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  cursor: text;
}


/* Utiities */
.grid{
  display: grid;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.visually-hidden {
  clip: rect(10%);
  clip-path: inset(100%);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.hidden{
  visibility: hidden;
  pointer-events: none;
}

/* Components */
main {
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

.sidenav{
  grid-row: span 2;
  order: 1;
}

.topnav{
  order: 2;
}