:root {
  /* Color */
  --clr-primary: hsla(165, 59%, 50%, 1);
  --clr-secondary: hsla(251, 76%, 10%, 1);

  --clr-accent-warning: hsl(49, 100%, 48%);
  --clr-accent-error: hsl(2, 82%, 62%);
  --clr-accent-success: hsl(133, 47%, 59%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-bg: hsla(0, 0%, 99%, 1);

  --clr-neutral-50: hsla(0, 0%, 98%, 1);
  --clr-neutral-100: hsla(0, 0%, 96%, 1);
  --clr-neutral-150: hsla(0, 0%, 92%, 1);
  --clr-neutral-200: hsla(0, 0%, 90%, 1);
  --clr-neutral-300: hsla(0, 0%, 83%, 1);
  --clr-neutral-400: hsla(0, 0%, 64%, 1);
  --clr-neutral-500: hsla(0, 0%, 45%, 1);
  --clr-neutral-600: hsla(0, 0%, 32%, 1);
  --clr-neutral-700: hsla(0, 0%, 25%, 1);
  --clr-neutral-800: hsla(0, 0%, 15%, 1);
  --clr-neutral-900: hsla(0, 0%, 9%, 1);

  /* Typography */
  --ff-base: "Plus Jakarta Sans", system-ui, sans-serif;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;

  --text-xxs: 0.675rem;
  /* 10px */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-md: 1.175rem;
  /* 18px */
  --text-lg: 1.25rem;
  /* 20px */
  --text-xl: 1.5rem;
  /* 24px */
  --text-2xl: 2rem;
  /* 32px */
  --text-3xl: 3rem;
  /* 48px */
  --text-4xl: 4rem;
  /* 64px */

  --leading-norm: 1em
    /* Size of Text */
  ;
  --leading-wide: 1.5rem
    /* 24px */
  ;
  --leading-wider: 1.625rem
    /* 26px */
  ;
  --leading-heading-5: 1.72rem
    /* 28px */
  ;
  --leading-heading-4: 2rem
    /* 32px */
  ;
  --leading-heading-3: 2.5rem
    /* 40px */
  ;
  --leading-heading-2: 3.5rem
    /* 56px */
  ;
  --leading-heading-1: 4.5rem
    /* 72px */
  ;

  /* Layout */
  --space-xxxs: 0.3125rem;
  /* 5px */
  --space-xxs: 0.5rem;
  /* 8px */
  --space-xs: 0.675rem;
  /* 10px */
  --space-sm: 0.75rem;
  /* 12px */
  --space-base: 1rem;
  /* 16px */
  --space-md: 1.125rem;
  /* 18px */
  --space-lg: 1.25rem;
  /* 20px */
  --space-xl: 2.5rem;
  /* 40px */
  --space-2xl: 2.875rem;
  /* 46px */


    /* BORDER RADUIS UTILITIES ====== */
  --rounded-xs: 0.675rem;
  --rounded-lg: 1.25rem;
  --rounded-full: 9999px;

}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  line-height: var(--leading-norm);
  font-size: var(--text-base);
  font-family: var(--ff-base) !important;
  font-weight: var(--font-norm);
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  color: #0D062D;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--clr-neutral-bg);
}

table {
  display: table;
  width: max-content;
}

th,
td,
tr {
  text-align: start;
  color: inherit;
}

button,
input,
textarea {
  outline: none;
  border: none;
  background-color: inherit;
  font: inherit;
  border-radius: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  shape-margin: 0.75rem;
  font-style: italics;
}

ul,
ol {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
  color: var(--clr-primary);
}

input,
textarea {
  cursor: text;
}


/* Utiities */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.visually-hidden {
  clip: rect(10%);
  clip-path: inset(100%);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.aspect-square{
  aspect-ratio: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.px-xs {
  padding: var(--space-xs);
}
.px-lg {
  padding: var(--space-lg);
}

.gap-lg {
  gap: var(--space-lg);
}
.gap-md {
  gap: var(--space-md);
}
.gap-xs {
  gap: var(--space-xs);
}
.gap-sm {
  gap: var(--space-sm);
}
.gap-xxxs {
  gap: var(--space-xxxs);
}
.gap-xs {
  gap: var(--space-xs);
}
.gap-xxs {
  gap: var(--space-xxs);
}

.space-y-xs > :not(:last-child) {
  margin-bottom: var(--space-xs);
}
.space-y-sm > :not(:last-child) {
  margin-bottom: var(--space-sm);
}
.space-x-xxs > :not(:last-child) {
  margin-right: var(--space-xxs);
}

.leading-norm{
  line-height: var(--leading-norm);
}
.leading-wider{
  line-height: var(--leading-wider);
}
.leading-heading-1 {
  line-height: var(--leading-heading-1);
}
.leading-heading-2 {
  line-height: var(--leading-heading-2);
}
.leading-heading-3 {
  line-height: var(--leading-heading-3);
}
.leading-heading-4 {
  line-height: var(--leading-heading-4);
}
.leading-heading-5 {
  line-height: var(--leading-heading-5);
}


.text-primary {
  color: var(--clr-primary);
}
.text-center{
  text-align: center;
}
.text-xl{
  font-size: var(--text-xl);
}
.text-md{
  font-size: var(--text-md);
}
.text-xl{
  font-size: var(--text-xl);
}
.text-sm{
  font-size: var(--text-sm);
}

.ff-base{
  font-family: var(--ff-base);
}

.font-medium {
  font-weight: var(--font-medium);
}
.font-regular {
  font-weight: var(--font-regular);
}
.font-semibold {
  font-weight: var(--font-semibold);
}

/* border radius utlities */
.rounded-lg{
  border-radius: var(--rounded-lg);
}

.color-neutral-400{
  color: var(--clr-neutral-400);
}

/* Components */
.icon {
  color: inherit;
}
.icon.colored,
.icon.colored > * {
  fill: currentColor;
}
.icon.colored-stroke > * {
  stroke: currentColor;
}

.section-header {
  font-size: var(--text-lg);
  line-height: var(--leading-heading-3);
}


/* Main Content */
.main-container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-bg);
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}
.wrapper {
  order: 3;
  /* inline-size: 100%; */
  container: wrapper / inline-size;

  background-color: inherit;
}
.wrapper>main {
  padding: var(--space-lg);
  overflow-y: hidden;
  overflow-x: scroll;
}
.wrapper section {
  padding: var(--space-lg);
  background-color: var(--clr-white);
  grid-area: unset;
  border-radius: var(--space-base);
  border: 1px solid var(--clr-neutral-150);
}


section.trends {
 display: grid;
 grid-template-rows: max-content 1fr;
 grid-template-columns: 1fr;
 place-content: center;
 box-sizing: content-box;
 max-height: 350px;
}


section.stat-cards{
  border: none;
  padding: 0;
  background-color: transparent;
  grid-template-columns: repeat(2, 1fr);
}
section.stat-cards  .inner-card{
  border: 1px solid var(--clr-neutral-150);
  background-color: var(--clr-white);
  padding: var(--space-base);
  border-radius: var(--space-base);
}
.inner-card .regard{
  border-radius: var();
  padding: 4px var(--space-xxs) ;
  border-radius: 9999px;
}
.regard.regard-gain{
  color: var(--clr-accent-success);
  background-color:  hsl(133, 47%, 59%, .1);
  font-size: var(--text-sm);
}
.regard.regard-loss{
  color: var(--clr-accent-error);
  background-color:  hsl(2, 82%, 62%, .1);
  font-size: var(--text-sm);
}
.stat-icon-container{
  padding: var(--space-xxs);
}
.icon_and_graph > div:first-of-type{
  width: var(--space-xl);
  height: var(--space-xl);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 50%;
}

section.orders {}
section.orders table, section.orders th, section.orders td{
  /* background-color: red; */
  width: 100%;
  border-collapse: collapse;
}
section.orders th{
  color: var(--clr-neutral-400);
}
section.orders td{
  padding: var(--space-sm) var(--space-sm) var(--space-sm) 0;
  text-wrap: nowrap;
}
section.orders th{
  padding: var(--space-base) var(--space-base) var(--space-base) 0;
}
section.orders tr:not(section.orders tr:last-of-type){
  border-bottom: 1px solid var(--clr-neutral-150);
}
section.orders tr:not(section.orders tr:first-of-type):hover{
  background-color: var(--clr-neutral-50);
}
section.orders tr > *{
  width: max-content;
}
.last-orders-table{
  overflow-x: auto;
}
.status{
  align-items: center;
  justify-content: center;
  width: 3rem;
}
.status-paid{
  color: var(--clr-accent-success)
}
.status-refund{
  color: var(--clr-accent-error)
}
.status-pending{
  color: var(--clr-accent-warning)
}

section.platform {}
.platform-slider {
  width: 100%;
  height: var(--space-sm);
  position: relative;
  background-color: var(--clr-neutral-200);
  border-radius: 9999px;
  overflow: hidden;
}
.platform-slider::before {
  color: inherit;
  background-color: currentColor;
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--slider-width);
  border-radius: inherit;
  transform-origin: left;
  animation: slide-out 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
@keyframes slide-out {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(100%);
  }
}

.toggle-slider{
  background-color: var(--clr-white);
  border-radius: 9999px;
  padding: var(--space-xxs);
  position: relative;
  isolation: isolate;
}
.toggle-slider::after{
  position: absolute;
  content: '';
  margin: var(--space-xxs);
  width: 30px;
  aspect-ratio: 1;
  background-color: var(--clr-primary);
  z-index: -1;
  border-radius: 9999px;
  top: 0;
  transition: all .3s ease-in-out;
}
.toggle-slider.up::after{
  translate: 0 0;
}
.toggle-slider.down::after{
  translate: 0 127%;
}
.toggle-slider button{
  place-items: center;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 9999px;
  background-color: transparent;
  color: var(--clr-white);
  transition: color .1s ease-in-out .1s,scale .3s ease-in-out;
}
.toggle-slider button svg{
  transition: inherit;
}
.toggle-slider.down button:first-of-type svg, .toggle-slider.up button:last-of-type svg{
  color: var(--clr-neutral-600);
}
.toggle-slider.down button:first-of-type svg{
  scale: 1.2;
}
.toggle-slider.down button:last-of-type svg{
  scale: .8;
}

/* media queries */
@media screen and (min-width : 1200px) {
  .wrapper>main {
    grid-template-columns: 60.5% 37.5%;
    /* padding: var(--space-lg); */
  }
}
@media screen and (max-width : 1200px) {
  section.trends {
    grid-area: trends;
  }
  
  section.orders {
    grid-area: orders;
  }
  
  section.platform {
    grid-area: platform;
  }
  
  section.stat-cards {
    grid-area: cards;
  }
  .wrapper>main {
    grid-template-areas:
      'trends cards'
      'platform cards'
      'orders cards'
    ;
    grid-template-columns: 60.5% 37.5%;
  }
  section.stat-cards{
    grid-template-columns: 1fr;
    align-self: start;
  }
}
@media screen and (max-width : 1100px) {
  .hide-on-small {
    display: none;
  }
  .wrapper>main {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    padding: var(--space-lg);
  }
  /* .wrapper>main {
    grid-template-columns: 60.5% 37.5%;
  } */
  .wrapper>main {
    grid-template-areas:
      'trends'
      'cards'
      'platform'
      'orders'
    ;
  }

  section.trends {
    grid-area: trends;
  }
  
  section.orders {
    grid-area: orders;
  }
  
  section.platform {
    grid-area: platform;
  }
  
  section.stat-cards {
    grid-area: cards;
    grid-template-columns: repeat(2, 1fr);
  }

}
@media screen and (max-width: 726px) {
  
}
@media screen and (max-width: 625px) {
  main{
    padding: 10px;
  }
  
  section.trends{
    height: 374px !important;
  }
  
  section.platform{
    height: 100% !important;
  }
  section.stat-cards {
    grid-template-columns: 1fr
  }
  section.orders td{
    padding: var(--space-sm) var(--space-xl) var(--space-sm) 0;
    text-wrap: nowrap;
  }
}

